<h1> Appointments </h1>
<%@appointments=Appointment.last(10).paginate(:page => params[:page], :per_page => 2)%>
<table>
  <tr>
    <th>Id</th>
    <th>Physician ID</th>
    <th>Patient ID</th>
    <th>Appointment Date</th>
    <th>Created At</th>
    <th>Updated At</th>
  </tr>

  <% @appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.id %></td>
      <td><%= appointment.physician_id %></td>
      <td><%= appointment.patient_id %></td>
      <td><%= appointment.appointment_date %></td>
      <td><%= appointment.created_at %></td>
      <td><%= appointment.updated_at %></td>
    </tr>
  <% end %>


<%= link_to 'Back', physicians_path %>

</table>

<%#= will_paginate @appointments %>
<%=will_paginate(@appointments,{:previous_label=>"Previous",:next_label=>"Next",:inner_window=>1,:outer_window=>0}) %>